.home-cabecalho {
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.home-cabecalho img {
    width: 180px;
    cursor: pointer;
}

.home-cabecalho div {
    display: flex;
    gap: 1em;
}